<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet"  href="./css/styles.css" />
   
</head>
<body>
        <div class="main-content">
    {{>header}}
    <p>Use this to get the Weather</p>
    <form>
        <input placeholder="Location">
        <select name="Language" id="Language">
        <option value="">Select Language</option>
        <option value="en">English</option>
        <option value="hi">Hindi</option>
    </select>
    <br>
    <br>
        <button>Search</button>
    </form>
    <p id="message"></p>
    </div>
    
    
    {{>footer}}
 <script src="./js/app.js"></script>
</body>
</html>